* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.nav1 {
    width: 100%;
    height: 50px;
    border: none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid gray;
    background-color: white;
    cursor:pointer;
    position:sticky;
}
 .nav, .ul1,.ul2{
    display:flex;
    justify-content:space-around;
    align-items:center;
    /* border:2px solid yellow; */
    width:30%;
 }

.nav1 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.nav1 ul li span{
    margin:0px 0.5rem;
    font-size:0.8rem;
}
.nav1 ul li i{
    color:rgb(46, 91, 206);
    font-weight:bold;
}
.nav1 .mamarthlogo,
.nav1 .offerlogo {
    width: 130px;
}
.searchbardiv {
    display: flex;
    align-items: center;
    position: relative;
}

/* .searchbardiv input[type="search"] {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 150px;
} */
.fa-magnifying-glass{
    margin:0px 2px 0px 4px;
}


.searchbtndiv {
    display: none; /* Initially hidden */
}

.searchbardiv i {
    position: absolute;
    left: 5px;
}
.searchbar{
    position:absolute;
    top:7px;
    left:35%;
    width:30%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid gray;
    border-radius:8px;
    cursor:pointer;
}
.searchbar input{
    width:80%;
    color:rgb(23, 23, 23);
    padding:0.5rem;
    border:none;
    border-radius:8px;
}
.searchbar input:focus{
    outline:none;
}
.searchbtn{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(0, 175, 239);
    padding:0.4rem;
    border-radius:5px;
    color:#fff;
}
.showfileicon{
    display:block;
}
.nav2{
    width:100%;
    position:sticky;
    box-shadow:2px 3px 5px rgb(232, 231, 231);
}
.nav2 ul{
    width:70%;
    margin:auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.nav2 ul li{
    list-style-type:none;
    padding:1rem 0.3rem;
    font-size:0.8rem;
    cursor:pointer;
}
.section1{
    width:100%;
    max-height:400px;
}
.section1 img{
    width:100%;
    height:100%;
}
.section2{
    width: 100%;
    max-height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.section2 .img-div1, .img-div2{
    width:35%;
}
.section2 .img-div1 img, .img-div2 img{
    width:100%;
    height:100%;
}

.goodness-section{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
iframe, .show-info{
    width:35%;
    height:400px;
    font-family: "Open Sans", sans-serif;
}
.show-info h3{
    margin:0.6rem auto;
    font-size:1.3rem;
}
.show-info{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:0px 1rem;
}
.show-btn{
    margin:1rem;
}
.show-btn .shop-btn, .pledge-btn{
    display: inline-block;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background: rgb(0, 175, 239);
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    border:none;
}
.pledge-btn{
    color:rgb(0, 175, 239);
    border:1px solid rgb(0, 175, 239);
    background:none;
}

.section4 {
    position:relative;
    width: 100%;
    height: 400px; 
    background-image: url("https://images.mamaearth.in/wysiwyg/Mobile_home_img.png?format=auto");
    background-repeat: no-repeat; 
    background-size:contain; 
}
.section4 img{
    width:100%;
    height:100%;
}
.showinfo{
    position:absolute;
    left:35%;
    top:30%;
    font-size:1.2rem;
    color:rgb(29, 29, 29);
    width:auto;
    text-align:center;
}
.showinfo h3{
    color:rgb(130, 195, 65);
    letter-spacing: 0.36rem;
    font-size:2.25rem;
}
.showinfo button{
    background-image: url(https://images.mamaearth.in/wysiwyg/desktop_cta2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 177px;
    min-height: 40px;
    border:none;
}
/* Product container css */
.main-container-wraper{
    width: 70%;
    margin: auto;
    /* border:2px solid red; */
}
#products-container{
    width: 100%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth; 
    background-color: white; 
    /* border:2px solid orange; */
}
#products-container::-webkit-scrollbar {
    display: none; 
}
.showproduct1{
    position:relative;
    width:100%;
    margin: auto;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.4rem;
    color: rgb(87, 86, 86);
    background-color: white; 
    padding: 0.5rem;
    cursor: pointer; 
    z-index: 10; 
    visibility: visible; 
    opacity: 1; 
}

.arrow-left {
    left: -2.8rem;
}

.arrow-right {
    right: -2.8rem;
}

.product-wraper {
    position: relative;
    min-width: 260px;
    height: 480px;
    border: 1px solid gray;
    text-align: center;
    padding: 0.5rem 0.4rem;
    margin: 0.5rem 0.6rem;
}

.product-wraper img {
    width: 95%;
    margin: auto;
    height: 250px;
}

.product-wraper h4, p, h2 {
    margin: 0.4rem 0px;
}

.product-wraper p {
    color: rgb(114, 114, 114);
}

.product-wraper h4 {
    font-family: "Open Sans", sans-serif;
    color: rgb(47, 46, 46);
}

.product-wraper h5 {
    color: rgb(75, 139, 11);
    font-family: "Open Sans", sans-serif;
}

.product-wraper .fa-star {
    color: rgb(255, 195, 0);
}

.product-wraper .fa-circle-check {
    color: green;
}

.product-wraper button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0.7rem;
    display: inline-block;
    width: 100%;
    color: #fff;
    background-color: rgb(0, 175, 239);
    border: none;
    cursor: pointer;
}


.productheading1 {
    margin: 2rem auto 0.4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://images.mamaearth.in/wysiwyg/sky_strip_mobile2x.png?format=autot");
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-pro-heading {
    width: 35%;
    height: 100%;
    background-image: url("https://images.mamaearth.in/wysiwyg/red_tag_desktop2x.png");
    background-repeat: no-repeat;
    padding-top: 0.15em;
    background-size: cover;
    display: inline-block;
    width: 224.9px;
    height: 46.71px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    border: none;
}
.vertical_nav {
    position: absolute;
    top: 2.8rem;
    left: 0rem;
    width: 34%;
    height: 93vh;
    text-align: center;
    background-color: #fff;
    z-index: 14;
    display: none;
}

.vertical_nav .profileimage{
    border:2px solid skyblue;
    background-color:skyblue;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.vertical_nav .profileimage img{
    border-radius:50%;
    border:2px solid blue;
    width:100px;
    height:100px;
    margin-right:1rem;
}
.vertical_nav ul{
    width:100%;
    margin:auto;
    background-color:#fff;
}
.vertical_nav ul li{
    text-align:left;
    list-style-type:none;
    margin:1rem 0rem 0rem 1.7rem;
    cursor:pointer;
}
.show_searched_product{
    width:70%;
    margin:auto;
    height:auto;
    /* border:2px solid rgb(171, 8, 8); */
}
.wrap_searched_product{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
}
.wrap_searched_product .product-wraper{
    max-width:210px;
    height:470px;
}
.cartdiv{
    position:relative;
}
.cartdiv p{
    position:absolute;
    top:-1.2rem;
    left:0.3rem;
    color:rgb(83, 83, 235);
}

@media (max-width: 900px) {
    .showproduct1, .productheading1 {
        width: 94%;
    }

    .product-wraper {
        width: 230px;
    }
}

/* end */

@media (max-width:950px){
    .nav1 .ul1, .ul2{
        width:30%;
    }
    .offerlogo{
        width:70px;
        display:none;
        border:2px solid red;
    }
    .searchbar{
        width:45%;
        left:27%;
    }
    .nav1 .mamarthlogo{
        width:100px;
    }
}
@media (max-width:890px){
    .goodness-section{
        width:100%;
    }
    iframe,.show-info{
        width:45%;
    }
}
@media (max-width:700px){
    .nav2 ul{
        width:100%;
    }
    .nav2 .sub-navul li{
        font-size:0.7rem;
    }
    .goodness-section{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    iframe,.show-info{
        width:80%;
    }
}
@media (max-width:600px){
    .vertical_nav{
        width:45%;
    }
}
@media (max-width: 480px) {
    .nav1 {
        height: auto;
    }
    .nav1 ul {
        padding: 5px;
        font-size:0.5rem;
    }
    .searchbardiv input[type="search"] {
        width: calc(100% - 50px);
    }
    .nav1 .ul1 span, .ul2 span{
        display:none;
    }
    .nav1 .fa-solid , .fa-user{
        font-size:1rem;
    }
    .searchbar{
        top:45px;
        left:16%;
        width:70%;
    }
    .nav2{
        margin-top:2rem;
    }
}
