* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-wraper {
    width: 60%;
    margin: auto;
    padding: 0.7rem;
}

.que-div {
    width: 100%;
    padding: 0.5rem;
}

.que {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: rgb(114, 114, 114);
}
.que h4{
    font-size:15px;
}

.ans {
    padding: 0.2rem 0rem;
    display: none;
    font-size:13px;

}

.anstoggle {
    display: block;
}

.que-active {
    color: rgb(130, 195, 65); 
}
#hurryup{
    text-align:center;
    color:red;
    font-size:48px;
    margin:1rem 0rem;
}
#expireoffer{
    text-align:center;
    margin:1rem 0rem;
    color:rgb(43, 42, 42);
}

.showproduct1{
    width:75%;
    margin:auto;
    height:auto;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-flow:wrap;
}
.product-wraper{
    position:relative;
    width:260px;
    height:450px;
    border:1px solid gray;
    text-align:center;
    padding:0.5rem 0.4rem;
    margin:0.5rem 0.6rem;
}
.product-wraper img{
    width:95%;
    margin:auto;
    height:250px;
    /* border:2px solid gray; */
}
.product-wraper h4,p,h2{
    margin:0.4rem 0px;
}
.product-wraper p{
    color:rgb(114, 114, 114);
}
.product-wraper h4{
    font-family: "Open Sans", sans-serif;
    color:rgb(47, 46, 46);
}
.product-wraper h5{
    color:rgb(75, 139, 11);
    font-family:"Open Sans", sans-serif;
}
.product-wraper .fa-star{
    color:rgb(255, 195, 0);
}
.product-wraper .fa-circle-check{
    color:green;
}
.product-wraper button{
    position:absolute;
    bottom:0px;
    left:0px;
    padding:0.7rem;
    display:inline-block;
    width:100%;
    color:#fff;
    background-color:rgb(0, 174, 239);
    border-radius:5px;
    font-size:1rem;
    border:none;
}
.productheading1{
    margin:2rem auto 0.4rem auto;
    display:flex;
    justify-content:center;
    align-items:center;
    width:75%;
    height:70px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://images.mamaearth.in/wysiwyg/sky_strip_mobile2x.png?format=autot");
    background-repeat: no-repeat;
    background-size:cover;
}
.sub-pro-heading{
    width:35%;
    height:100%;
    background-image: url("https://images.mamaearth.in/wysiwyg/red_tag_desktop2x.png");
    background-repeat: no-repeat;
    padding-top: 0.15em;
    background-size: cover;
    display: inline-block;
    width: 224.9px;
    height: 46.71px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    border:none;
}
@media (max-width:900px){
    .showproduct1,.productheading1{
        width:94%;
    }
    .product-wraper{
        width:230px;
    }
}

