* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-wraper {
    width: 60%;
    margin: auto;
    padding: 0.7rem;
}

.que-div {
    width: 100%;
    padding: 0.5rem;
}

.que {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: rgb(114, 114, 114);
}
.que h4{
    font-size:15px;
}

.ans {
    padding: 0.2rem 0rem;
    display: none;
    font-size:13px;

}

.anstoggle {
    display: block;
}

.que-active {
    color: rgb(130, 195, 65); 
}
#hurryup{
    text-align:center;
    color:red;
    font-size:48px;
    margin:1rem 0rem;
}
#expireoffer{
    text-align:center;
    margin:1rem 0rem;
    color:rgb(43, 42, 42);
}